#output_log {
    height: 1fr;
    border: round grey;
    padding-left: 1;
    &:focus {
        border: round lightgrey;
    }
}

#command_input {
    height: auto;
    border: double grey;
    padding: 0 1;
    &:focus {
        border: double lightgrey;
    }
}
